<!DOCTYPE html>
<html>
  <head>
    <title>Todo List App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  </head>
  <body ng-app="ToDoList">
    <div ng-controller="mainController">
      <div ng-repeat="item in list">
        <li> {{ item }} </li>
      </div>
      <input ng-model="addToDo">
      <button ng-click="addItem()">Add To Do task</button>
      <button ng-click="removeItem()">Remove To Do task</button>
    </div>    
    <script src="/app.js"></script>
    <script src="/controllers/mainController.js"></script>
  </body>
</html>
